<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{link-to "Settings" "settings" data-test-link="settings"}}
            <span>{{svg-jar "arrow-right"}}</span>
            Integrations
        </h2>
    </header>

    <div class="gh-content">
        {{gh-loading-spinner}}
    </div>
</section>