<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">{{t "Manual.Settings.Settings"}}</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            {{t "Manual.Settings.Labs"}}
        </h2>
    </header>

    <div class="gh-content">
        <GhLoadingSpinner />
    </div>
</section>
