<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Шоу</h2>
    </header>

    <iframe src="https://newradio.vvdev.ru/admin/shows" style="width:100%;height:calc(100vh - (35px + 4em));border:none;"></iframe>
</section>
