<div class="__mobiledoc-card__preview-header">
    <button class="btn btn-green" {{action 'edit'}}>Edit</button>
    <button class="btn btn-normal" {{action 'delete'}}>Delete</button>
    <span>Code</span>
</div>
<div class="__mobiledoc-card__preview-content">
    <textarea></textarea>
</div>
