<div class="gh-alert-content" data-test-alert-message>
    {{message.message}}
</div>
<button class="gh-alert-close" {{action "closeNotification"}}>{{inline-svg "close"}}<span class="hidden">Close</span></button>
