<span class="gh-select" data-select-text="{{selectedList.name}}" tabindex="0">
    {{one-way-select
        id="mailchimp-list"
        name="mailchimp-setting-list"
        options=selectableLists
        optionValuePath="id"
        optionLabelPath="name"
        value=selectedList
        update=(action "setList")
    }}
    {{inline-svg "arrow-down-small"}}
</span>
