<div class="form-group">
    <label for="tag-input">Tags</label>
    {{gh-token-input
        selectedTokens=post.tags
        availableTokens=availableTags
        showCreateWhen=(action "hideCreateOptionOnMatchingTag")
        onChange=(action "updateTags")
        onCreate=(action "createTag")
        renderInPlace=true
    }}
    {{!-- {{gh-selectize
        id="tag-input"
        multiple=true
        selection=post.tags
        content=availableTags
        optionValuePath="content.uuid"
        optionLabelPath="content.name"
        openOnFocus=false
        create-item="addTag"
        remove-item="removeTag"
        plugins="remove_button, drag_drop"}} --}}
</div>
