<div class="form-group">
    <label for="tag-input">Tags</label>
    {{gh-token-input
        selected=post.tags
        options=availableTags
        showCreateWhen=(action "hideCreateOptionOnMatchingTag")
        onChange=(action "updateTags")
        onCreate=(action "createTag")
        renderInPlace=true
    }}
</div>
