<div class="gh-unsplash">
    <div class="gh-unsplash-container">
        <header class="gh-unsplash-header">
            <h1>Unsplash</h1>
            <p>Beautiful, free photos.<br>
Gifted by the world’s most generous community of photographers. 🎁</p>
            <input type="text" autocorrect="off" class="gh-unsplash-search" name="searchKeyword" id="searchKeyword" data-test="search-input-input" placeholder="Search free high-resolution photos" tabindex="1" value="">
        </header>
        <section class="gh-unsplash-grid">
            {{#each unsplash.photos as |photo|}}
                <a class="gh-unsplash-grid-item" href="#">
                    <img src="{{photo.urls.regular}}" alt="" />
                </a>
            {{/each}}
        </section>
    </div>
</div>
