<header class="modal-header" data-test-modal="unsaved-settings">
    <h1>Вы уверены, что хотите покинуть эту страницу?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    <p>
        Эй! Похоже, что вы не сохранили внесенные изменения.
    </p>

    <p>Сохранитесь, прежде чем продолжить!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-stay-button><span>Остаться</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red" data-test-leave-button><span>Покинуть</span></button>
</div>
