<header class="modal-header" data-test-modal="delete-subscriber">
    <h1>Вы уверены?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    <strong>ПРЕДУПРЕЖДЕНИЕ:</strong> Все данные об этом подписчике будут удалены. Вы не сможете восстановить эти данные.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-subscriber">
        <span>Отмена</span>
    </button>
    {{gh-task-button "Delete"
        successText="Deleted"
        task=deleteSubscriber
        class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-subscriber"}}
</div>
