<header class="modal-header">
    <h1>Вы уверены, что хотите покинуть эту страницу?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    <p>
        Эй! Похоже, вы находитесь в процессе написания чего-то и
        не сохранили ваш контент.
    </p>

    <p>Сохранитесь, прежде чем продолжить!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Остаться</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red"><span>Покинуть</span></button>
</div>
