<header class="modal-header">
    <h1> Вы уверены, что хотите заблокировать пользователя?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    <strong>WARNING:</strong> Этот пользователь сможет залогиниться, но увидит сообщение о блокировки.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Отмениить</span></button>
    {{gh-task-button "Un-suspend" successText="Успешно" task=unsuspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
