<div class="__mobiledoc-card__editor-header">
    <button class="btn btn-green" {{action 'save'}}>Save</button>
    <button class="btn btn-normal" {{action 'cancel'}}>Cancel</button>
    <span>Editing Markdown</span>
</div>
<div class="__mobiledoc-card__editor-content">
    <textarea></textarea>
</div>
