/* About /ghost/settings/about/
/* ---------------------------------------------------------- */

.gh-logo {
    position: relative;
    width: 120px;
    height: auto;
}

.gh-about-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: max-content;
    padding: 28px;
    border: 1px solid var(--whitegrey);
    border-radius: 3px;
}

.gh-about-box.grey {
    border: none;
    background: var(--main-color-content-greybg);
}

.gh-about-box svg {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 12px;
}

.gh-about-box svg path {
    fill: var(--pink);
}

.gh-whats-new {
    flex-grow: 2;
    margin-right: 3.2rem;
    color: var(--darkgrey);
    font-size: 1.6rem;
}

@media (max-width: 890px) {
    .gh-whats-new {
        max-width: 460px;
    }
}

.gh-whats-new h2 {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--whitegrey);
    font-size: 1.65rem;
    line-height: 1.4em;
    font-weight: 600;
}

.gh-env-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 334px;
}

.gh-env-details h2 {
    font-size: 1.65rem;
    line-height: 1.4em;
    font-weight: 600;
}

.gh-env-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gh-env-list li {
    margin: 0;
    font-size: 1.4rem;
}

.gh-env-help {
    max-width: 200px;
}

.gh-env-help .gh-btn {
    margin: 4px 0;
}

@media (max-width: 670px) {
    .gh-env-details {
        flex-direction: column;
        align-items: flex-start;
    }
    .gh-env-help {
        margin: 1em 0;
        max-width: none;
    }
    .gh-env-help .gh-btn {
        display: inline-block;
    }
}




/* Upgrade
/* ---------------------------------------------------------- */

.gh-upgrade-notification {
    padding-top: 1em;
}

.gh-upgrade-notification a {
    text-decoration: underline;
}

/* Copyright Info
/* ---------------------------------------------------------- */

.gh-copyright-info {
    margin-top: 3rem;
    color: var(--midgrey);
    font-size: 1.3rem;
}
