/* Sign in
/* ---------------------------------------------------------- */
.gh-signin, .gh-auth-email {
    position: relative;
    margin: 30px auto;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 45px -10px rgba(0, 0, 0, 0.1);
}

.gh-signin .form-group {
    margin-bottom: 1.5rem;
}

.gh-signin .gh-btn {
    margin: 0;
}

.forgotten-wrap {
    position: relative;
}

.forgotten-wrap input {
    padding-right: 7rem;
}

.forgotten-wrap .forgotten-link {
    position: absolute;
    top: 7px;
    right: 1px;
    bottom: 7px;
    border-left: color-mod(var(--lightgrey) l(-5%) s(-10%)) 1px solid;
    border-radius: 0;
}

.forgotten-link span {
    height: 19px;
    font-size: 1.2rem;
    line-height: 19px;
    padding: 0 11px 0 12px;
    margin-top: -1px;
    color: var(--midlightgrey);
}

.forgotten-link:hover {
    border-left: color-mod(var(--lightgrey) l(-15%) s(-10%)) 1px solid;
    text-decoration: none;
}

.forgotten-link:hover span {
    color: var(--blue);
}

.forgotten-link:active {
    box-shadow: none;
    text-decoration: underline;
}


/* Email notification */
/* ---------------------------------------------------------- */
.gh-auth-animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--lightgrey);
    animation: 0.5s forwards 0.6s containerFadeIn;
    opacity: 0;
}

@keyframes containerFadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

.gh-auth-email-animation {
    position: relative;
    width: 122px;
    height: 125px;
    margin-bottom: -24px;
    animation: 0.5s forwards 0.6s envelopeFadeIn;
    opacity: 0;
}

@keyframes envelopeFadeIn {
    0% { 
        transform: translateY(-6px);
        opacity: 0;
    }
    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}

.gh-auth-email-animation .gh-auth-envelope-back {
    position: absolute;
    top: 0;
    left: 0;
}

.gh-auth-email-animation .gh-auth-envelope-front {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 100;
}

.gh-auth-email-animation .gh-auth-paper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    left: 15px;
    width: 90px;
    height: 82px;
    background: white;
    border: 1px solid #C5D2D9;
    border-radius: 4px;
    animation: 1.2s ease forwards 1.15s paperIn;
}

.gh-auth-email-animation .gh-auth-lock {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    opacity: 0;
    animation: 0.45s forwards 1.35s lockIn;
}

@keyframes paperIn {
    0% { 
        transform: scale(1,1) translateY(0); 
    }
    10% { 
        transform: scale(1.05,.95) translateY(0); 
    }
    30% { 
        transform: scale(.95,1.05) translateY(-32px); 
    }
    50% { 
        transform: scale(1,1) translateY(-27px); 
    }
    100% { 
        transform: scale(1,1) translateY(-27px); 
    }
}

@keyframes lockIn {
    0% { 
        transform: scale(1) translateY(2px); 
        opacity: 0;
    }
    60% { 
        transform: scale(1.1) translateY(-2px); 
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

.gh-auth-lock-body {
    margin-top: 48px;
    animation: 0.5s forwards 0.2s bodyFadeIn;
    opacity: 0;
}

.gh-auth-lock-body p {
    color: var(--midgrey);
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4em;
    text-align: center;
}

@keyframes bodyFadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

/* SSO buttons
/* ---------------------------------------------------------- */
.gh-sso {
    position: relative;
    margin: 0px auto 0px auto;
    max-width: 400px;
    width: 100%;
    text-align: left;
}

.gh-sso .gh-btn-sso {
    margin: 10px auto 0px auto;
}

.gh-btn-sso span:before {
    content: '';
    width: 30px;
    height: 24px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: auto 24px;
}

.gh-btn-sso-google span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%20533.5%20544.3%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M533.5%20278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1%2033.8-25.7%2063.7-54.4%2082.7v68h87.7c51.5-47.4%2081.1-117.4%2081.1-200.2z%22%20fill%3D%22%234285f4%22%2F%3E%3Cpath%20d%3D%22M272.1%20544.3c73.4%200%20135.3-24.1%20180.4-65.7l-87.7-68c-24.4%2016.6-55.9%2026-92.6%2026-71%200-131.2-47.9-152.8-112.3H28.9v70.1c46.2%2091.9%20140.3%20149.9%20243.2%20149.9z%22%20fill%3D%22%2334a853%22%2F%3E%3Cpath%20d%3D%22M119.3%20324.3c-11.4-33.8-11.4-70.4%200-104.2V150H28.9c-38.6%2076.9-38.6%20167.5%200%20244.4l90.4-70.1z%22%20fill%3D%22%23fbbc04%22%2F%3E%3Cpath%20d%3D%22M272.1%20107.7c38.8-.6%2076.3%2014%20104.4%2040.8l77.7-77.7C405%2024.6%20339.7-.8%20272.1%200%20169.2%200%2075.1%2058%2028.9%20150l90.4%2070.1c21.5-64.5%2081.8-112.4%20152.8-112.4z%22%20fill%3D%22%23ea4335%22%2F%3E%3C%2Fsvg%3E");
}

.gh-btn-sso-github span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%221024%22%20height%3D%221024%22%20viewBox%3D%220%200%201024%201024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8%200C3.58%200%200%203.58%200%208C0%2011.54%202.29%2014.53%205.47%2015.59C5.87%2015.66%206.02%2015.42%206.02%2015.21C6.02%2015.02%206.01%2014.39%206.01%2013.72C4%2014.09%203.48%2013.23%203.32%2012.78C3.23%2012.55%202.84%2011.84%202.5%2011.65C2.22%2011.5%201.82%2011.13%202.49%2011.12C3.12%2011.11%203.57%2011.7%203.72%2011.94C4.44%2013.15%205.59%2012.81%206.05%2012.6C6.12%2012.08%206.33%2011.73%206.56%2011.53C4.78%2011.33%202.92%2010.64%202.92%207.58C2.92%206.71%203.23%205.99%203.74%205.43C3.66%205.23%203.38%204.41%203.82%203.31C3.82%203.31%204.49%203.1%206.02%204.13C6.66%203.95%207.34%203.86%208.02%203.86C8.7%203.86%209.38%203.95%2010.02%204.13C11.55%203.09%2012.22%203.31%2012.22%203.31C12.66%204.41%2012.38%205.23%2012.3%205.43C12.81%205.99%2013.12%206.7%2013.12%207.58C13.12%2010.65%2011.25%2011.33%209.47%2011.53C9.76%2011.78%2010.01%2012.26%2010.01%2013.01C10.01%2014.08%2010%2014.94%2010%2015.21C10%2015.42%2010.15%2015.67%2010.55%2015.59C13.71%2014.53%2016%2011.53%2016%208C16%203.58%2012.42%200%208%200Z%22%20transform%3D%22scale(64)%22%20fill%3D%22%231B1F23%22%2F%3E%3C%2Fsvg%3E");
}

.gh-btn-sso-microsoft span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cpath%20fill%3D%22%23f3f3f3%22%20d%3D%22M0%200h23v23H0z%22%2F%3E%3Cpath%20fill%3D%22%23f35325%22%20d%3D%22M1%201h10v10H1z%22%2F%3E%3Cpath%20fill%3D%22%2381bc06%22%20d%3D%22M12%201h10v10H12z%22%2F%3E%3Cpath%20fill%3D%22%2305a6f0%22%20d%3D%22M1%2012h10v10H1z%22%2F%3E%3Cpath%20fill%3D%22%23ffba08%22%20d%3D%22M12%2012h10v10H12z%22%2F%3E%3C%2Fsvg%3E");
}

.gh-btn-sso-apple span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221000%22%20height%3D%221187.198%22%3E%3Cpath%20d%3D%22M979.042%20925.188c-17.954%2041.477-39.206%2079.657-63.828%20114.759-33.563%2047.853-61.044%2080.976-82.222%2099.37-32.83%2030.192-68.006%2045.654-105.672%2046.533-27.041%200-59.652-7.694-97.611-23.303-38.085-15.536-73.084-23.23-105.086-23.23-33.563%200-69.56%207.694-108.061%2023.23-38.561%2015.609-69.625%2023.743-93.376%2024.55-36.12%201.538-72.123-14.364-108.06-47.78-22.938-20.006-51.627-54.302-85.997-102.888-36.875-51.883-67.191-112.047-90.942-180.639C12.751%20781.703%200%20709.96%200%20640.504c0-79.562%2017.192-148.183%2051.627-205.687%2027.063-46.19%2063.066-82.625%20108.127-109.373%2045.06-26.748%2093.749-40.378%20146.182-41.25%2028.69%200%2066.312%208.874%20113.066%2026.315%2046.622%2017.5%2076.557%2026.374%2089.682%2026.374%209.812%200%2043.068-10.376%2099.443-31.064%2053.313-19.185%2098.307-27.129%20135.168-24%2099.883%208.062%20174.923%2047.436%20224.828%20118.372-89.33%2054.126-133.52%20129.936-132.64%20227.188.806%2075.751%2028.287%20138.788%2082.295%20188.84%2024.476%2023.23%2051.81%2041.183%2082.222%2053.934-6.595%2019.127-13.557%2037.447-20.958%2055.035zM749.964%2023.75c0%2059.374-21.692%20114.81-64.928%20166.122-52.176%2061-115.286%2096.248-183.724%2090.686a184.836%20184.836%200%2001-1.378-22.497c0-56.999%2024.813-117.998%2068.878-167.874%2021.999-25.253%2049.978-46.25%2083.907-63%2033.856-16.5%2065.88-25.625%2095.999-27.187.88%207.937%201.246%2015.875%201.246%2023.75z%22%2F%3E%3C%2Fsvg%3E");
}

.gh-btn-sso-facebook span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22266.893%22%20height%3D%22266.895%22%3E%3Cpath%20fill%3D%22%233C5A99%22%20d%3D%22M248.082%20262.307c7.854%200%2014.223-6.369%2014.223-14.225V18.812c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857%200-14.224%206.367-14.224%2014.224v229.27c0%207.855%206.366%2014.225%2014.224%2014.225h229.27z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M182.409%20262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261%203.127-18.935%2019.275-18.935l20.596-.009V45.045c-3.562-.474-15.788-1.533-30.012-1.533-29.695%200-50.025%2018.126-50.025%2051.413v28.684h-33.585v38.895h33.585v99.803h40.166z%22%2F%3E%3C%2Fsvg%3E");
}

.gh-btn-sso-twitter span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22182%22%20height%3D%22148%22%20viewBox%3D%220%200%20183%20151%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M0%2010h1367v1111H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path%3D%22url(%23a)%22%20transform%3D%22matrix(.133%200%200%20-.133%200%20151)%22%3E%3Cpath%20d%3D%22M1367%20989c-50.3-22.3-104-37.4-161-44.2a281.3%20281.3%200%2001123%20155%20556.7%20556.7%200%2000-178-68c-227%20225-547-8.4-478-256-233%2011.7-440%20123-578%20293-79.4-135-27.7-301%2086.8-374-46%201.44-89.2%2014.1-127%2035.1-.04-1.18-.04-2.35-.04-3.52%200-136%2096.7-249%20225-275-43.7-10.8-85.5-12.5-127-4.8%2035.7-111%20139-192%20262-195-124-94.2-268-133-415-116%20633-372%201230%20115%201228%20672a849.9%20849.9%200%2001-.79%2036.2c54.8%2039.6%20102%2089%20140%20145%22%20fill%3D%22%235ae%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.gh-btn-sso-linkedin span:before {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20382%20382%22%3E%3Cpath%20d%3D%22M347.445%200H34.555C15.471%200%200%2015.471%200%2034.555v312.889C0%20366.529%2015.471%20382%2034.555%20382h312.889C366.529%20382%20382%20366.529%20382%20347.444V34.555C382%2015.471%20366.529%200%20347.445%200zM118.207%20329.844c0%205.554-4.502%2010.056-10.056%2010.056H65.345c-5.554%200-10.056-4.502-10.056-10.056V150.403c0-5.554%204.502-10.056%2010.056-10.056h42.806c5.554%200%2010.056%204.502%2010.056%2010.056v179.441zM86.748%20123.432c-22.459%200-40.666-18.207-40.666-40.666S64.289%2042.1%2086.748%2042.1s40.666%2018.207%2040.666%2040.666-18.206%2040.666-40.666%2040.666zM341.91%20330.654a9.247%209.247%200%2001-9.246%209.246H286.73a9.247%209.247%200%2001-9.246-9.246v-84.168c0-12.556%203.683-55.021-32.813-55.021-28.309%200-34.051%2029.066-35.204%2042.11v97.079a9.246%209.246%200%2001-9.246%209.246h-44.426a9.247%209.247%200%2001-9.246-9.246V149.593a9.247%209.247%200%20019.246-9.246h44.426a9.247%209.247%200%20019.246%209.246v15.655c10.497-15.753%2026.097-27.912%2059.312-27.912%2073.552%200%2073.131%2068.716%2073.131%20106.472v86.846z%22%20fill%3D%22%230077b7%22%2F%3E%3C%2Fsvg%3E");
}