/* Content /ghost/

/* Header
/* ---------------------------------------------------------- */

.gh-contentfilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px 0 11px;
    padding: 0;
    list-style: none;
}

.gh-contentfilter-left {
    display: flex;
    align-items: center;
}

.gh-contentfilter-left .gh-contentfilter-menu {
    margin-right: 12px;
}

.gh-contentfilter-right {
    display: flex;
}

.gh-contentfilter-right .gh-contentfilter-menu {
    margin-left: 10px;
}

.gh-contentfilter li {
    position: relative;
    display: inline-block;
    margin: 0 25px 0 0;
}

.gh-contentfilter li.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--darkgrey);
    position: absolute;
    top: -1px;
    opacity: 0.5;
}

.gh-contentfilter li a {
    display: block;
    padding: 13px 1px 0;
    color: color-mod(var(--midgrey) l(+8%));
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.gh-contentfilter a.active {
    font-weight: 500;
    color: var(--darkgrey);
}

.gh-contentfilter-menu-trigger,
.gh-contentfilter-menu-trigger:focus,
.gh-contentfilter-menu-trigger--active {
    background: var(--white);
    font-size: 1.3rem;
    padding: 1px 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    border-radius: 4px !important;
}

.gh-contentfilter-menu-trigger:hover {
    cursor: pointer;
}

.gh-contentfilter .ember-power-select-selected-item,
.gh-contentfilter .ember-power-select-placeholder {
    margin-left: 0;
}

.gh-contentfilter-menu-dropdown {
    width: 180px;
    margin-top: 6px;
    padding: 4px 0;
    border: none !important;
    font-size: 1.3rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 7px 20px -5px rgba(0,0,0,.15);
    border-radius: 5px !important;
}

.gh-contentfilter-menu-dropdown .ember-power-select-search input {
    display: block !important;
    margin: 0 14px !important;
    border-bottom: 1px solid var(--lightgrey) !important;
    width: calc(100% - 28px) !important;
}

.gh-contentfilter-menu-dropdown .ember-power-select-option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Content List
/* ---------------------------------------------------------- */

.content-list {
    position: relative;
}

.content-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--white);
    display: table;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px -6px rgba(0,0,0,.25);
}

.gh-posts-list-item {
    position: relative;
    display: table-row;
}

.gh-posts-list-item:hover {
    background: var(--whitegrey-l2);
}

.gh-posts-list-item a:hover {
    text-decoration: none;
}

.gh-post-list-header {
    display: table-cell;
    border-bottom: color-mod(var(--lightgrey)) 1px solid;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: var(--midlightgrey);
    text-transform: uppercase;
    padding: 6px 20px;
    white-space: nowrap;
}

.gh-post-list-status {
    white-space: nowrap;
}

.gh-post-list-status,
.gh-post-list-title,
.gh-post-list-updated,
.gh-post-list-author {
    display: table-cell;
    padding: 16px 20px;
    border-bottom: color-mod(var(--lightgrey)) 1px solid;
    vertical-align: middle;
}

.gh-post-list-updated,
.gh-post-list-author {
    color: var(--midgrey);
}

.gh-content-entry-title {
    margin: 0 0 3px 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.gh-content-entry-title a {
    color: color-mod(var(--darkgrey) l(+3%));
}

.gh-posts-list-item p {
    margin: 2px 0 0;
    font-size: 1.4rem;
    font-weight: 300;
    overflow-wrap: break-word;
    color: var(--midgrey);
}

.gh-schedule-time {
    color: var(--green-d1);
}

.gh-schedule-subtext {
    max-width: 200px;
}

.gh-content-entry-meta {
    margin: 4px 0 0 0;
    font-size: 1.3rem;
    color: var(--midlightgrey);
    font-weight: 200;
    letter-spacing: 0.3px;
}

.gh-content-entry-meta .gh-badge {
    margin-right: 3px;
}

.gh-content-status-published {
    color: var(--midgrey);
    background: var(--lightgrey);
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0 3px;
}

.gh-content-status-featured {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 3px;
}

.gh-content-status-featured svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: -4px;
}

.gh-content-status-featured svg path {
    fill: var(--blue);
}

.gh-content-entry-author {
    color: var(--midgrey);
}

.gh-posts-placeholder {
    width: 120px;
    margin: -30px 0 15px;
}

.gh-pages-placeholder {
    width: 118px;
    margin: -30px 0 15px;
}

@media (max-width: 900px) {
    .gh-posts-list-item a {
        padding-right: 40px;
    }
}

@media (min-width: 901px) {
    .gh-posts-list-item a:after {
        display: none;
    }
}

@media (min-width: 901px) {
    .content-list .active a {
        box-shadow: var(--blue) 3px 0 0 inset;
    }
}


/* Empty State
/* ---------------------------------------------------------- */

.no-posts-box {
    position: relative;
    z-index: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 70vh;
}

.no-posts-box .no-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-posts-box .no-posts h3 {
    margin-bottom: 20px;
    color: var(--midgrey);
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 1px;
}


/* Keyboard Focus Effects
/* ---------------------------------------------------------- */


/* This has to be a pseudo element to sit over the top of everything else in the content list */
.tag-list-content.keyboard-focused:before,
.tag-settings.keyboard-focused:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    animation: keyboard-focus-style-fade-out 1.5s 1 forwards;
    pointer-events: none;
}
