/* Content /ghost/

/* Header
/* ---------------------------------------------------------- */

.gh-contentfilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
    padding: 0;
    list-style: none;
}

.gh-contentfilter li {
    position: relative;
    display: inline-block;
    margin: 0 25px 0 0;
}

.gh-contentfilter li.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--darkgrey);
    position: absolute;
    top: -1px;
    opacity: 0.5;
}

.gh-contentfilter li a {
    display: block;
    padding: 13px 1px 0;
    color: color-mod(var(--midgrey) l(+8%));
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.gh-contentfilter a.active {
    font-weight: 500;
    color: var(--darkgrey);
}

.gh-contentfilter-menu-trigger,
.gh-contentfilter-menu-trigger:focus,
.gh-contentfilter-menu-trigger--active {
    background: transparent;
    font-size: 1.3rem;
    color: var(--midgrey-l1);
    padding: 0 8px;
    /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.05); */
    outline: none;
    border: none;
    border-radius: 9999px !important;
    margin-left: 10px;
    white-space: nowrap;
}

.gh-contentfilter-menu-trigger:hover {
    cursor: pointer;
    background: var(--white);
}

.gh-contentfilter-menu-trigger svg path {
    stroke: var(--midgrey-l1);
}

.gh-contentfilter .ember-power-select-selected-item,
.gh-contentfilter .ember-power-select-placeholder {
    margin-left: 0;
}

.gh-contentfilter-menu-dropdown {
    width: 180px;
    margin-top: 6px;
    padding: 4px 0;
    border: none !important;
    font-size: 1.3rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 7px 20px -5px rgba(0,0,0,.15);
    border-radius: 5px !important;
}

.gh-contentfilter-menu-dropdown .ember-power-select-search input {
    display: block !important;
    margin: 0 14px !important;
    border-bottom: 1px solid var(--lightgrey) !important;
    width: calc(100% - 28px) !important;
}

.gh-contentfilter-menu-dropdown .ember-power-select-option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gh-contentfilter-sort .gh-contentfilter-menu-trigger .ember-power-select-selected-item::before {
    content: "Sort by: ";
}


/* Content List
/* ---------------------------------------------------------- */

.content-list {
    position: relative;
}

.content-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--white);
    display: table;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 6px -6px rgba(0,0,0,.25);
    border: 1px solid var(--whitegrey);
}

.content-list ol.no-posts {
    background: none;
    box-shadow: none;
    border-top: 1px solid var(--lightgrey-d1);
    border-radius: 0;
    margin-top: -2px;
}

.gh-posts-list-item {
    position: relative;
    display: table-row;
}

.gh-posts-list-item:hover {
    background: var(--whitegrey-l2);
}

.gh-posts-list-item a:hover {
    text-decoration: none;
}

.gh-post-list-header {
    display: table-cell;
    border-bottom: color-mod(var(--lightgrey)) 1px solid;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: var(--darkgrey);
    text-transform: uppercase;
    padding: 10px 20px;
    white-space: nowrap;
}

.gh-post-list-header.first {
    padding: 0;
}

.gh-post-list-header.title {
    padding: 6px 20px 6px 0px;
}

.gh-post-list-featured,
.gh-post-list-title,
.gh-post-list-status,
.gh-post-list-updated,
.gh-post-list-author {
    display: table-cell;
    padding: 16px 20px;
    border-bottom: color-mod(var(--whitegrey)) 1px solid;
    vertical-align: middle;
}

.gh-posts-list-item:last-of-type .gh-post-list-featured,
.gh-posts-list-item:last-of-type .gh-post-list-title,
.gh-posts-list-item:last-of-type .gh-post-list-status,
.gh-posts-list-item:last-of-type .gh-post-list-updated,
.gh-posts-list-item:last-of-type .gh-post-list-author {
    border-bottom: none;
}

.gh-post-list-featured {
    padding: 20px 6px 20px 10px;
    border-bottom: none;
}

.gh-post-list-title {
    padding-left: 0px;
}

.gh-post-list-status {
    white-space: nowrap;
}

.gh-post-list-updated {
    white-space: nowrap;
}

.gh-post-list-updated,
.gh-post-list-author {
    color: var(--midgrey);
    font-weight: 300;
    font-size: 1.3rem;
}

.gh-content-entry-title {
    margin: 0 0 3px 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.gh-content-entry-title a {
    color: color-mod(var(--darkgrey) l(+3%));
}

.gh-posts-list-item p {
    margin: 2px 0 0;
    font-size: 1.3rem;
    font-weight: 300;
    overflow-wrap: break-word;
    color: var(--midgrey);
}

.gh-schedule-time {
    color: var(--green-d1);
}

.gh-schedule-subtext {
    max-width: 200px;
}

.gh-content-entry-meta {
    margin: 4px 0 0 0;
    font-size: 1.3rem;
    color: var(--midlightgrey);
    font-weight: 200;
    letter-spacing: 0.3px;
}

.gh-content-entry-meta .gh-badge {
    margin-right: 3px;
}

.gh-content-status-published {
    color: var(--midgrey);
    background: var(--lightgrey);
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0 3px;
}

.gh-content-status-featured {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 3px 0 0;
}

.gh-content-status-featured svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: -4px;
}

.gh-content-status-featured svg path {
    fill: var(--blue);
}

.gh-content-entry-author {
    color: var(--midgrey);
}

.gh-posts-placeholder {
    width: 120px;
    margin: -30px 0 15px;
}

.gh-pages-placeholder {
    width: 118px;
    margin: -30px 0 15px;
}

/* Mobile style of post list */
@media (max-width: 1000px) {
    .gh-posts-list-item {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--lightgrey);
        margin: 0;
    }

    .gh-post-list-featured {
        display: block;
        order: 1;
        border-bottom: none;
        position: absolute;
        left: 0;
        top: -1px;
    }

    .gh-post-list-title {
        display: block;
        order: 2;
        flex: 1 1 100%;
        border: none;
        padding: 20px 28px 4px;
    }

    .gh-post-list-status {
        display: inline-block;
        order: 3;
        border: none;
        padding: 0 4px 20px 28px;
        font-size: 1.3rem;
    }

    .gh-post-list-updated {
        display: inline-block;
        order: 4;
        border: none;
        padding: 0 4px 20px;
        font-size: 1.3rem;
    }

    .gh-post-list-author {
        display: inline-block;
        order: 5;
        border: none;
        padding: 0 28px 20px 4px;
        font-size: 1.3rem;
    }

    .gh-post-headers {
        display: none;
    }

    .post-header {
        justify-content: flex-end;
    }

    .post-header .gh-canvas-title {
        position: absolute;
        top: 42px;
        left: 3vw;
    }

    .post-header .view-actions {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 18px;
    }

    .post-header .view-actions .gh-contentfilter {
        order: 2;
        margin: 10px 0;
        padding: 6px 2px;
        max-width: calc(100vw - 10px);
        overflow-x: auto;
    }

    .post-header .gh-canvas-title {
        margin-top: -25px;
    }
}

@media (max-width: 800px) {
    .post-header {
        left: 0;
    }

    .post-header .gh-canvas-title {
        left: 20px;
    }
}

@media (max-width: 900px) {
    .gh-posts-list-item a {
        padding-right: 40px;
    }
}

@media (min-width: 901px) {
    .gh-posts-list-item a:after {
        display: none;
    }
}

@media (min-width: 901px) {
    .content-list .active a {
        box-shadow: var(--blue) 3px 0 0 inset;
    }
}


/* Empty State
/* ---------------------------------------------------------- */

.no-posts-box {
    position: relative;
    z-index: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 70vh;
}

.no-posts-box .no-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-posts-box .no-posts h3 {
    margin-bottom: 20px;
    color: var(--midgrey);
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 1px;
}


/* Keyboard Focus Effects
/* ---------------------------------------------------------- */


/* This has to be a pseudo element to sit over the top of everything else in the content list */
.tag-list-content.keyboard-focused:before,
.tag-settings.keyboard-focused:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    animation: keyboard-focus-style-fade-out 1.5s 1 forwards;
    pointer-events: none;
}
