<header class="modal-header">
    <h1>Please re-authenticate</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">Close</span></a>

<div class="modal-body {{if authenticationError 'error'}}">
    <form id="login" class="login-form">
        {{#gh-validation-container "password" changeset as |value actions|}}
            {{gh-input value class="password" type="password" placeholder="Password" name="password" focusOut=actions.focusOut update=actions.update}}
        {{/gh-validation-container}}

        {{#gh-spin-button class="btn btn-blue" type="submit" submitting=submitting action="confirm"}}Log in{{/gh-spin-button}}
   </form>
   {{#if authenticationError}}
     <p class="response">{{authenticationError}}</p>
   {{/if}}
</div>
