<header class="modal-header">
    <h1>{{title}}</h1>
</header>

<div class="modal-body">
    <p>
        Hey there! This post was created using the <strong>{{version}}</strong> editor which is
        different to your preference under the Labs Settings.
    </p>

    <p>
        The {{version}} editor has been loaded for now.
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="btn btn-default btn-minor">OK</button>
</div>
