<div class="gh-nav-search-modal">
    <GhSearchInput @class="gh-nav-search-input" @onSelected={{action "confirm"}} />
    <div class="gh-search-tips">{{t "Manual.Search.Open_with_Ctrl/⌘_+_K"}}</div>
</div>