<header>
    <h1>{{t "Manual.Settings.Welcome_to_Ghost"}}</h1>
    <p>{{t "Manual.Settings.All_over_the_world,_people_have_started_2,000,000+_incredible_sites_with_Ghost._Today,_we’re_starting_yours."}}</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="assets/img/install-welcome.png" alt="Ghost screenshot" />
</figure>

<LinkTo @route="setup.two" @classNames="gh-btn gh-btn-green gh-btn-lg gh-btn-icon gh-btn-icon-right">
    <span>{{t "Manual.ProfilePitcure.Create_your_account"}} &rarr;</span>
</LinkTo>
