<header>
    <h1>Invite your team</h1>
    <p>Ghost works best when shared with others. Collaborate, get feedback on your posts &amp; work together on ideas.</p>
</header>

<div><img class="gh-flow-faces" src="{{gh-path 'admin' 'img/users.png'}}" alt="" /></div>

<form class="gh-flow-invite">
    {{gh-setup-invite-users changeset=model.changeset showErrors=showErrors focusOut=(action "focusOut")}}

    {{#gh-spin-button type="submit" action="invite" classNameBindings=":btn :btn-default :btn-lg :btn-block buttonClass" submitting=submitting autoWidth="false"}}{{buttonText}}{{/gh-spin-button}}
</form>

<button class="gh-flow-skip" {{action "skipInvite"}}>
    I'll do this later, take me to my blog!
</button>
