/* Exclude CodeMirror from the border-box reset to avoid scrollbar problems */
.CodeMirror,
.CodeMirror * {
    box-sizing: initial;
}

/* Re-apply CodeMirror's content-box styles overridden by above reset */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  box-sizing: content-box;
}

.CodeMirror-linenumber {
    min-width: 14px;
    cursor: pointer;
}

.CodeMirror-selected-line {
    background-color: rgba(204,153,255,.5);
}

.CodeMirror-selected-line:first-child {
    border-left: 5px solid rgba(204,153,255,.8);
    margin-left: -5px;
}
