/* TODO: move these back into the editor.css layout? */

/* scrollable container */
.gh-koenig-editor {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* padded container housing title + editor canvas */
.gh-koenig-editor-pane {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 10vw 4vw;
}

@media (max-width: 500px) {
    .gh-koenig-editor-pane {
        padding: 15vw 4vw;
    }
}

/* use flex-grow to fill the available vertical space so clicks outside the
   editor content can trigger focus */
.gh-koenig-editor-pane .koenig-editor {
    width: 100%;
    flex-grow: 1;
    cursor: text;
}

/* NOTE: everything from this point should be Koenig addon specific */
/* Editor canvas layout ----------------------------------------------------- */

.koenig-editor {
    max-width: 760px;
    margin: 0 auto;
}

/* Formatting Toolbar ------------------------------------------------------- */

/* ⨁ menu ------------------------------------------------------------------ */

/* Slash shortcut menu ------------------------------------------------------ */

/* Menu items --------------------------------------------------------------- */
