/* Unsplash Integration
/* ---------------------------------------------------------- */

.gh-unsplash {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: auto;
    background: #fff;
}

.gh-unsplash-logo {
    position: absolute;
    top: 20px;
    left: 25px;
    display: block;
}

.gh-unsplash-logo svg {
    width: 32px;
}

.gh-unsplash-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
}

.gh-unsplash-close:hover {
    cursor: pointer;
}

.gh-unsplash-close svg {
    fill: color(var(--midgrey) l(+15%));
}

.gh-unsplash-container {
    max-width: 1040px;
    margin: 100px auto;
}

.gh-unsplash-header {
    text-align: center;
}

.gh-unsplash-header-desc {
    font-size: 1.6rem;
    line-height: 1.6em;
}

.gh-unsplash-header .gh-input-icon svg {
    left: 15px;
    fill: #777;
}

.gh-unsplash-search {
    width: 100%;
    height: 40px;
    max-width: none;
    margin: 50px 0;
    padding: 0 30px 1px 50px;
    outline: none;
    border: 1px solid transparent;
    color: #111;
    font-size: 14px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;

    appearance: none;
}

.gh-unsplash-search:hover {
    border-color: #d1d1d1;
}

.gh-unsplash-search:focus {
    border-color: #d1d1d1;
    background: #fff;
}

.gh-unsplash-grid {
    column-count: 3;
    column-gap: 24px;
}

.gh-unsplash-grid-item {
    display: inline-block;
    width: 100%;
    margin: 0 0 1em;
}
