{{#gh-modal-dialog title=title confirm=confirm action="closeModal"}}
    <p>
        Hey there! This post was created using the <strong>{{newOld}}</strong> editor which is
        different to your preference under the Labs Settings.
    </p>
    <p>
        The {{newOld}} editor has been loaded for now.
    </p>
{{/gh-modal-dialog}}
