<div class="gh-main-section">
    <div class="gh-main-section-block gh-offer-archive-container">
        {{#if this.product.active}}
            {{#if (not this.product.isNew)}}
                <button
                    type="button"
                    class="gh-btn gh-btn-black gh-btn-icon"
                    {{on "click" this.handleArchiveTier}}
                >
                    <span>Archive tier</span>
                </button>
                {{!-- <p>
                    <span>Archiving a tier ensures it is no longer available for use. Don’t worry, existing members remain unchanged and the tier can be reactivated anytime.</span>
                </p> --}}
            {{/if}}
        {{else}}
            <button
                type="button"
                class="gh-btn gh-btn-black gh-btn-icon"
                {{on "click" this.handleUnarchiveTier}}
            >
                <span>Reactivate tier</span>
            </button>
        {{/if}}
    </div>
</div>
