<div class="view-container">
    <section class="content-list js-content-list {{if postListFocused 'keyboard-focused'}}">
        {{#gh-infinite-scroll tagName="section" classNames="content-list-content js-content-scrollbox" fetch="loadNextPage" as |checkScroll|}}
            <ol class="posts-list">
                {{#each sortedPosts key="id" as |post|}}
                    {{gh-posts-list-item post=post previewIsHidden=previewIsHidden onDoubleClick="openEditor" onDelete=(action checkScroll)}}
                {{/each}}
            </ol>
        {{/gh-infinite-scroll}}
    </section>
</div>

{{#if showDeletePostModal}}
    {{gh-fullscreen-modal "delete-post"
                          model=currentPost
                          close=(action "toggleDeletePostModal")
                          modifier="action wide"}}
{{/if}}

{{outlet}}
