{{#if importErrors}}

<div style="margin-top: 20px;">
    <p style="font-weight: 500;">Your import was not successful ⛔ </p>

    <h4 style="color: red"> Errors </h4>
</div>

<table class="table" style="overflow: hidden; display: inline-block;">
{{#each importErrors as |error|}}
    <tr style="display: inline-block; max-width: 100%;">
        <td style="display: inline-block; max-width: 100%;">
            {{error.message}}
            <pre style="font-size: 10px; overflow-x: auto; display: inline-block; max-width: 100%;">{{error.context}}</pre>
        </td>
    </tr>
{{/each}}
</table>
{{/if}}
