{{#if importErrors}}
    <div class="gh-setting">
        <div class="gh-setting-content gh-setting-content-importer">
            <h4 class="error">Import Error</h4>
            <p class="gh-setting-entry-meta">Your import was not successful ⛔ </p>

            {{#each importErrors as |error|}}
                <p>{{error.message}}</p>
                <p>Offending entry:</p>
                <pre>{{error.context}}</pre>
            {{/each}}
        </div>
    </div>
{{/if}}