{{#if importProblems}}
    <div class="gh-setting">
        <div class="gh-setting-content gh-setting-content-importer">
            <h4 class="warning">Import Warnings</h4>
            <p class="gh-setting-entry-meta">Your import was successful ✅ </p>

            {{#each importProblems as |problem|}}
                <p>{{problem.help}}: {{problem.message}}</p>
                <p>Offending entry:</p>
                <pre>{{problem.context}}</pre>
            {{/each}}
        </div>
    </div>
{{/if}}