<section class="gh-view gh-content-view-container">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>Content</span>{{/gh-view-title}}
        <section class="view-actions">
            {{#link-to "editor.new" class="btn btn-green" title="New Post"}}New Post{{/link-to}}
        </section>
    </header>

    <section class="basic-filter">
        <ul>
            <li>{{#link-to "posts.index" (query-params type=null)}}All{{/link-to}}</li>
            <li>{{#link-to "posts.index" (query-params type="draft")}}Drafts{{/link-to}}</li>
            <li>{{#link-to "posts.index" (query-params type="published")}}Published{{/link-to}}</li>
            <li>{{#link-to "posts.index" (query-params type="scheduled")}}Scheduled{{/link-to}}</li>
            <li>{{#link-to "posts.index" (query-params type="page")}}Pages{{/link-to}}</li>
        </ul>
    </section>

    {{outlet}}
</section>
