<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content fade-in">
            <form id="reset" class="gh-signin" method="post" novalidate="novalidate" {{action "submit" on="submit"}}>
                {{gh-validated-textfield
                    "newPassword"
                    model.changeset
                    type="password"
                    name="newpassword"
                    placeholder="Password"
                    classes="password"
                    autocorrect="off"
                    autofocus="autofocus"
                }}

                {{gh-validated-textfield
                    "ne2Password"
                    model.changeset
                    type="password"
                    name="ne2password"
                    placeholder="Confirm Password"
                    classes="password"
                    autocorrect="off"
                    autofocus="autofocus"
                }}

                {{#gh-spin-button class="btn btn-blue btn-block" type="submit" submitting=submitting autoWidth="false"}}Reset Password{{/gh-spin-button}}
            </form>

            <p class="main-error">{{{flowErrors}}}</p>
        </section>
    </div>
</div>
